@tailwind base;
@tailwind components;
@tailwind utilities;


.v-toast {
    font-size: 16px;
    padding: 12px;
  }
  
  .v-toast--success {
    background: #000000;
    color: white;
  }
  
  .v-toast--error {
    background: #F44336;
    color: white;
  }