

.sidebar{
	width: 240px;
	transition: width .5s ease-in-out;
	
	&.hide-nav{
		width: 50px;
		.sidebar__footer,
		.nav-item .nav-item__text{ display: none; }
	}
	
	&__head{
		
	}
	
	&__nav{
		
	}
	
	&__footer{
		
	}	
}
