.custom-toast {
    color: red; /* Change icon color */
  }
  .custom-toast .vt-icon {
    color: blue !important;
  }
  .v-toast__icon{
 display: none !important;
  }
  .v-toast__item.v-toast__item--success .v-toast__icon {
    display: none;
  }
  .v-toast__item .v-toast__text {
    padding: .5em 1em !important;
}